/* отступы и поля элементов, в классе указывается сокращенноt свойство (p = padding, m = margin) и в модификаторе числовое значение, кратное 5.
Например: `h-pt--5` = `padding-top: 5px;`*/
@each $s, $side in (t, top),
                   (r, right),
                   (b, bottom),
                   (l, left) {
  @for $i from 0 through 15 {
    $i: $i * 5;
    .h-p#{$s}--#{$i}{
      padding-#{$side}: $i + px;
    }
    .h-m#{$s}--#{$i}{
      margin-#{$side}: $i + px;
    }
  }
}

.h-m--auto {
  margin-left: auto;
  margin-right: auto;
}

@for $fz from 16 through 30 {
  .h-fz--#{$fz} {
    font-size: rem($fz);
  }
}

@for $lh from 20 through 30 {
  .h-lh--#{$lh} {
    font-size: rem($lh);
  }
}

@each $align in left center right {
  .h-align--#{$align} {
    text-align: $align;
  }
}

@each $display in inline-block, flex {
  .h-display--#{$display} {
    display: $display;
  }
}

@each $color, $var in ('white', $white), ('black', $black) {
  .h-color--#{$color} {
    color: $var;
  }
}

.h-height--full {
  height: 100%;
}

.h-clearfix {
  @extend %clearfix;
}

.h-pseudolink {
  @include pseudoLink();
}

.h-scrolling--smooth {
  scroll-behavior: smooth;
}

.h-link {
  &--nodecor {
    text-decoration: none;
    @include transition();

    &:hover {
      opacity: .75;
    }
  }
}

.h-flex {
  &--column {
    flex-direction: column;
  }
}

.h-columns {
  column-gap: 30px;

  &--3 {
    columns: 3;
  }
}

.h-icon {
  &--pdf {
    padding-left: 35px;
    @extend %after;

    &:after {
      background-image: url(../imgs/contact/pdf.png);
      background-size: cover;
      @extend %vertAlign;
      left: 0;
      height: 26px;
      width: 25px;
      z-index: 10;
    }
  }
}