// Placeholders
%clearfix {
  zoom:1;

  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}

%before {
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
  }
}

%after {
  position: relative;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    z-index: 3;
  }
}

%transition {
  transition: all .25s ease-out;
}

%pattern {
  background-image: url(../imgs/pattern.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $gray;
}

%vertAlign {
  top: 0;
  bottom: 0;
  margin: auto 0;
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

// example: margin: rem(35px auto 2px 18px)
@function rem($px) {
  $fontSizeBase: parseInt($base-font-size);
  $i: '';
  @each $p in $px {
    @if $p != 'auto' {
      $p: (parseInt($p)/$fontSizeBase) + rem;
    }
    $i: '#{$i} #{$p}';
  }
  @return str_slice(unquote($i), 2);
}

@mixin transition($property: all) {
  transition: $property 0.25s ease-out;
}
