.text {
  line-height: 1.25;
  &--strong {
    font-weight: 700;
  }

  &--italic {
    font-style: italic;
  }

  &--h1, &--h2, &--h3 {
    text-align: center;
    font-family: $font-beautiful;
    font-weight: 300;
  }

  &--h1 {
    font-size: rem(60px);
    margin-bottom: rem(36px);
    color: $pink;
  }

  &--h2 {
    font-size: rem(50px);
    margin-bottom: rem(34px);
    color: $pink;
  }

  &--h3 {
    font-size: rem(24px);
    margin-bottom: rem(26px);
    display: inline-block;
    @extend %before;
    @extend %after;

    &:before, &:after {
      width: rem(40px);
      height: 1px;
      background-color: $pink;
      top: 50%;
    }

    &:before {
      left: rem(-55px);
    }

    &:after {
      right: rem(-55px);
    }
  }

  &--ul, ul {
    list-style: none;
    margin-bottom: 25px;

    & > li {
      @extend %before;
      margin-left: 20px;
      margin-bottom: 14px;

      &:before {
        content: "—";
        left: -20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: rem(12px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}