$margin: 30px;
$cols: 5;

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    width: calc(100%/#{$cols} - #{rem($margin - $margin/$cols)});
    margin: 0 rem($margin) rem(20px) 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    @include transition();

    @include above(1200px) {
      &:nth-child(#{$cols}n) {
        margin-right: 0;
      }
    }

    &:hover, &:focus {
      opacity: .75;
    }
  }

  &__image {
    margin: 0 0 rem(10px) 0;
    max-width: 100%;
    width: 100%;
    margin-bottom: auto;
    object-fit: contain;
    height: 100%;
  }

  &__title {
    margin-top: rem(12px);
  }
}

@include between(900px, 1200px) {
  $cols: 4;
  .gallery {
    &__item {
      width: calc(100%/#{$cols} - #{rem($margin - $margin/$cols)});
  
      &:nth-child(#{$cols}n) {
        margin-right: 0;
      }
    }
  }
}

@include between(400px, 900px) {
  $cols: 2;
  .gallery {
    &__item {
      width: calc(100%/#{$cols} - #{rem($margin - $margin/$cols)});
  
      &:nth-child(#{$cols}n) {
        margin-right: 0;
      }
    }
  }
}

@include below(400px) {
  $cols: 1;
  .gallery {
    &__item {
      width: calc(100%/#{$cols} - #{rem($margin - $margin/$cols)});
  
      &:nth-child(#{$cols}n) {
        margin-right: 0;
      }
    }
  }
}
