$modalZ: 1000;
$modalWidth: 600px;
$arrow-size: 25px;

.galleryModal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;

  &__modalOverlay {
    background: rgba($black, .75);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    @include transition();
    z-index: -1;
    opacity: 0;
    animation: overlay .25s ease-in-out normal;

    .galleryModal--active & {
      opacity: 1;
    }
  }

  &__modalContent {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include transition();
    position: absolute;
    display: flex;
    align-items: center;
    animation: transform .25s ease-in-out normal;
  }

  &__modalSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
    height: 100%;
  }

  &__modalImageWrapper {
    min-width: rem(100px);
    min-height: rem(100px);
    height: 100%;
    display: flex;
  }

  &__modalLoader {
    font-size: rem(70px);
    animation: heartbeat 1.2s infinite;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    position: absolute;
  }

  &__modalImage {
    max-width: 90vw;
    max-height: 95vh;
    margin: auto;
  }

  &__modalTitle {
    color: $white;
    font-weight: 700;
    font-size: rem(20px);
    padding: rem(30px 20px 20px);
    margin: 0 auto;
    max-width: $container;
  }

  &__modalClose {
    @extend %before;
    @extend %after;
    position: absolute;
    width: rem(60px);
    height: rem(60px);
    top: rem(20px);
    right: rem(15px);
    @include transition();
    z-index: 3;
    cursor: pointer;

    &:before, &:after {
      height: rem(2px);
      width: rem(30px);
      background: $white;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__arrowWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
  }

  &__arrow {
    cursor: pointer;
    height: 100%;
    width: rem(150px);
    @extend %before;
    background: none;
    position: absolute;

    &:before {
      height: $arrow-size;
      width: $arrow-size;
      background: transparent;
      border: none;
      border-left: 2px solid $white;
      border-bottom: 2px solid $white;
      position: absolute;
      top: 48.5%;
      top: calc(50% - #{$arrow-size/2});
      @include transition();
      z-index: 4;
    }

    &--prev {
      left: 0;
      &:before {
        transform: rotate(45deg);
        left: 2vw;
      }

      &:focus:before {
        margin-left: rem(-10px);
      }

      &:hover:before {
        transform: rotate(45deg) scale(1.4);
      }
    }

    &--next {
      right: 0;
      &::before {
        transform: rotate(-135deg);
        right: 2vw;
      }

      &:focus::before {
        margin-right: rem(-10px);
      }

      &:hover::before {
        transform: rotate(-135deg) scale(1.4);
      }
    }
  }
}


@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transform {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale( .75 );
  }
  20% {
    transform: scale( 1 );
  }
  40% {
    transform: scale( .75 );
  }
  60% {
    transform: scale( 1 );
  }
  80% {
    transform: scale( .75 );
  }
  100% {
    transform: scale( .75 );
  }
}