.header {
  text-align: center;
  flex-shrink: 0;
  height: rem(176px);
  display: flex;
  align-items: center;
  padding: rem(30px 20px 35px);
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template: "a  ." auto "a  ." auto/auto;
  justify-items: start;
  align-items: center;
  justify-content: space-between;
  font-family: $font-beautiful;

  &__logo {
    grid-area: a;
    margin-bottom: rem(20px);
    display: block;
    border: none;
    
    @supports (display: grid) {
      margin-bottom: 0;
    }

    &:hover, &:focus {
      opacity: .75;
    }

    & img {
        max-height: 100%;
    }
  }

  &__text {
    font-size: rem(26px);
    justify-self: end;
  }
}

@include below(800px) {
  .header {
    padding: rem(20px 20px 25px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;

    &__logo {
      width: 100%;
      text-align: center;
      margin-bottom: rem(6px);

      & img {
        max-height: rem(75px);
      }
    }

    &__text {
    font-size: rem(24px);
    margin: rem(0 10px);
    }
  }
}