mixin faq(data)
  article.faq
    section.faq__section.faq__section--question
      .faq__title Вопрос
      .faq__question!= data.question
    section.faq__section.faq__section--answer
      .faq__title Ответ
      .faq__answer!= data.answer
