mixin __galleryItem(preview)
    figure.gallery__item(tabindex=0)
        img.gallery__image(
            data-src=preview
        )

mixin gallery(data)
    .gallery
        - var g = 0;

        while g < data.length
            +__galleryItem("./imgs/" + data.path + "/preview/photo" + (g) + ".jpg")
            - g++;
