.header.container
    a.header__logo(href="./")
        img(
            src="./imgs/logo.png", 
            srcset="./imgs/logo.png, ./imgs/logo@2x.png 2x",
            alt="Андрей и Валерия"
        )
    .header__text 22 июня 2019
    .header__text Не стройте планов!