include ../components/head
doctype html

html(lang="ru")
  +head({})
  body
    .wrapper.h-mb--40
      include ../components/header
      include ../components/photoContainer
      .container.container--full.h-mt--60.h-mb--50.h-align--center
        h1.text--h2 Фотографии с прогулки
        include ../components/gallery
        .text
          p Пока что это анонс фотографий. Все остальные будут позже!
    
      //- include ../components/help
