include ../components/head
include ../components/gallery
        include ../components/galleryModal
doctype html

html(lang="ru")
  +head({})
  body
    .wrapper.h-mb--40
      include ../components/header
      include ../components/photoContainer
      .container.container--full.h-mt--20.h-mb--50.h-align--center
        .text.h-pt--30.h-pb--10
          p Скачать весь #[a(href="https://yadi.sk/d/B4q6Gy4Gp0mOjw", target="_blank") архив фотографий]
        h1.text--h2 Тот самый момент
        +gallery({"path": "01-zags", "length": 71})
        h2.text--h2 Променад
        +gallery({"path": "02-walking", "length": 138})
        h2.text--h2 Особняк
        +gallery({"path": "03-rest", "length": 259})
        h2.text--h2 Совершенство
        +gallery({"path": "04-studio", "length": 192})
        
        +galleryModal(
          [
            {
              "path": "01-zags", 
              "length": 71
            },
            {
              "path": "02-walking", 
              "length": 138
            },
            {
              "path": "03-rest", 
              "length": 259
            },
            {
              "path": "04-studio", 
              "length": 192
            }
          ]
        )
