include ../components/head
doctype html
include ../components/faq

html(lang="ru")
  +head({})
  body
    .wrapper
      include ../components/header
      include ../components/photoContainer
      .container.h-mt--60.h-mb--50.h-align--center
        .text--h2 Свадьба Андрея и Валерии
        .text
          p На этом сайте будет все про нашу свадьбу!
          p Сайт будет обновляться, появится еще много интересных и полезных вещей.#[br] За уведомления можно следить в нашем #[a(href='https://instagram.com/luzinswedding?igshid=1izknn0y5qob3', target="_blank") свадебном Инстаграме]. 

      .container.h-mb--50.h-align--center
        .text.text--h2 Когда и где
        .text--h3 22 июня 2019 года 
        .text
          p Официально мы станем семейной парой Лузиных в Ленинском ЗАГСе (Сакко и Ванцетти, 105/1).
          p Приветственный фуршет и банкет – в кафе «Калачи» (Красноармейская, 8).

      .container.h-pb--50
        .text--h2 Вопросы и ответы
        +faq({
          "question": "Есть ли дресс–код?",
          "answer": "Нет. Но приходите красивыми!"
        })
        +faq({
          "question": "Что дарить?",
          "answer": "Мы любим конверты. Не пустые 🤑"
        })
        +faq({
          "question": "Как насчет необычного или творческого поздравления?",
          "answer": "Мы только за! Только согласуйте все с нашим ведущим, чтобы все было подготовлено заранее."
        })
      //- include ../components/help
