include ../components/head
doctype html
include ../components/faq
include ../components/event

html(lang="ru")
  +head({})
  body
    .wrapper.h-mb--40
      include ../components/header
      include ../components/photoContainer
      .container.h-mt--60.h-mb--50.h-align--center
        h1.text--h2 Свадьба Андрея и Валерии
        .text
          p На этом сайте будет все про нашу свадьбу!
          p Сайт будет обновляться, появится еще много интересных и полезных вещей.
          p За уведомления можно следить в нашем #[a(href='https://instagram.com/luzinswedding?igshid=1izknn0y5qob3', target="_blank") свадебном Инстаграме]. #[br] Уже можно что-нибудь постить под хэштегом #luzinsday

      .container.h-mb--50.h-align--center
        h2.text.text--h2 Когда и где
        h3.text--h3.h-mb--45 22 июня 2019 года 
        +event({
          "title": "Церемония",
          "time": "16:30",
          "emoji": "💒 💍 🍾",
          "text": "Ленинский \"дворец бракосочетаний\"",
          "address": "Сакко и Ванцетти, 105/1"
        })
        +event({
          "title": "Фотопрогулка",
          "time": "Время неизвестно",
          "emoji": "📷",
          "address": "Место неизвестно"
        })
        +event({
          "title": "Фуршет",
          "time": "18:00",
          "emoji": "🍸",
          "text": "Кафе «Калачи»",
          "address": "Красноармейская, 8"
        })
        +event({
          "title": "Банкет",
          "time": "18:30",
          "emoji": "🥨",
          "text": "Кафе «Калачи»",
          "address": "Красноармейская, 8"
        })
        +event({
          "title": "Афтерпати",
          "time": "00:00",
          "emoji": "🎤",
          "text": "Кафе «Черничные ночи»",
          "address": "Красноармейская, 8"
        })

      .container.h-pb--50
        h2.text--h2 Вопросы и ответы
        +faq({
          "question": "Есть ли дресс–код?",
          "answer": "Нет. Но приходите красивыми!"
        })
        +faq({
          "question": "Как насчет необычного или творческого поздравления?",
          "answer": "Мы только за! Только согласуйте все с нашим <a href='#showman'>ведущим</a>, чтобы все было подготовлено заранее."
        })
        +faq({
          "question": "Что дарить?",
          "answer": "Мы любим конверты. Не пустые 🤑"
        })

      .container.h-pb--65#showman
        h2.text--h2 Контакты ведущего
        .row
          .col.h-align--right.h-align--left-m
            p.h-mb--20.text.h-fz--26.h-lh--20 Алексей Филатов
          .col.text
            p.h-lh--20 Телефон, WhatsApp, Telegram:
            p
              a(href="tel:+79221290517") +7 922 129-05-17
      //- include ../components/help
